@font-face {
  font-family: radinka;
  src: url(Radnika-Black.woff);
}

@font-face {
  font-family: DejaVuSansMono;
  src: url(DejaVuSansMono.ttf);
}

*{
  box-sizing: border-box;
}

:root {
  --main-bg-color: black;
  --black:black;
  --white:#FFFFFF;
  --grey-one:#C5C5C5;
  --grey-two:#ECECEC;
  
  --secondary:#F6F600;
  --link:rgb(0, 113, 254);

  --unvalid: #FF0000;
  --valid:#00CC4F;
}

h2{
  text-decoration: underline;
}

body{
  background-color: var(--main-bg-color);
  color:var(--black);
  font-family: radinka;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x:hidden; 
}

a{
  color: var(--link);
}

a>button{
  padding:20px;
  border: 1px solid var(--white);
  border-radius: 5px;
  color:var(--white);
  background-color: transparent;
  font-weight:bold;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

a>button:hover{
  color:var(--secondary);
  border: 1px solid var(--white);
  background-color: var(--white);
}

h1, p{
  max-width: 1200px;
  margin: auto;
  margin-top: 20px;
  padding-left:10px; 
  margin-bottom: 20px;
  width: 100%;
}
.content > p{
  text-align: justify;
}

.container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container>div{
  margin-top:10px;
  width: 100%;
  min-width: 500px;
  height:calc(100vh - 75px);
  border: 1px solid  var(--grey-one);
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color:var(--grey-two);
}


.header{    
  margin: auto;
  height:100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-image: url(../header.jpg);
  background-size: cover;
}

.header>div{
  text-align: center;
  color: var(--white);
  top: 50%;
  position: absolute;
  width: 100%;
  font-size: 5em;
  transform: translate(0,-50%);
  background-attachment: fixed;
}


#menu{
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top:0px;
  background-color: var(--black);
  z-index: 99;
  width: 100%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  height: 70px;
}

#menu>a{
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 70px;
  color: var(--white);
  font-size: 2em;
}

#menu>a>img{
  height: 70px;
}



#score{
  position: fixed;
  left: 15px;
  z-index: 99;
  background-color: var(--valid);
  color: var(--white);
  padding: 10px;
  top:calc(50% - 100px);
}

.percent{
  font-size: 3em;
}

.outOf{
  font-size: 1em;
}
.exercice>h1{
  position: relative;
}
.exercice>h1>span{
  position: absolute;
  height:100%;
  width: 10px;
  background-color: var(--unvalid);
  display: block;
  right:0;
  top:0;
}

.exercice>h1>span.solved{
  background-color: var(--valid);
}

.exercice>.console{
  background-color: var(--black);
  color:var(--white);
  font-family:  DejaVuSansMono;
  padding-left:22px;
}

@media screen and (max-width: 1200px) {
  .container>div{
    width: 100%;
  }

  #menu{
    justify-content:center;
  }

  #score{
    position: fixed;
    width:100%;
    left: 0;
    right: 0;
    top:70px;
    text-align: center;
  }
}
